In [9]:
from scipy.io import arff
import pandas as pd
import numpy as np
import openml
import os
openml.config.cache_directory = os.path.expanduser('./datasets/openML')

In [10]:
openml_list = openml.datasets.list_datasets()  # returns a dict

datalist = pd.DataFrame.from_dict(openml_list, orient="index")
#datalist = list(datalist[(datalist.NumberOfClasses.isnull() == False) & (datalist.NumberOfClasses != 0)]["did"])

In [118]:
idx_ds = datalist[51]

In [125]:
dataset = openml.datasets.get_dataset(idx_ds)

In [121]:
X_raw, y_raw, categorical_indicator, attribute_names = dataset.get_data(
    dataset_format="dataframe", target=dataset.default_target_attribute
)
iris = pd.DataFrame(X, columns=attribute_names)

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa
5          5.4         3.9          1.7         0.4  Iris-setosa
6          4.6         3.4          1.4         0.3  Iris-setosa
7          5.0         3.4          1.5         0.2  Iris-setosa
8          4.4         2.9          1.4         0.2  Iris-setosa
9          4.9         3.1          1.5         0.1  Iris-setosa

## Testing Santos datasets

In [123]:
datalist

,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
2,2,anneal,1,1,active,ARFF,684.0,7.0,8.0,5.0,39.0,898.0,898.0,22175.0,6.0,33.0
3,3,kr-vs-kp,1,1,active,ARFF,1669.0,3.0,1527.0,2.0,37.0,3196.0,0.0,0.0,0.0,37.0
4,4,labor,1,1,active,ARFF,37.0,3.0,20.0,2.0,17.0,57.0,56.0,326.0,8.0,9.0
5,5,arrhythmia,1,1,active,ARFF,245.0,13.0,2.0,13.0,280.0,452.0,384.0,408.0,206.0,74.0
6,6,letter,1,1,active,ARFF,813.0,26.0,734.0,26.0,17.0,20000.0,0.0,0.0,16.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42791,42791,road-safety,3,11601,active,arff,238639.0,NaN,23.0,4.0,67.0,363266.0,266939.0,2182126.0,61.0,0.0
42793,42793,olindda_outliers,1,23561,active,ARFF,30.0,NaN,12.0,4.0,3.0,75.0,0.0,0.0,2.0,1.0
42795,42795,Kassa,1,23678,active,ARFF,NaN,NaN,NaN,NaN,1559.0,3279.0,0.0,0.0,3.0,1556.0
42796,42796,Kassa,2,23678,active,ARFF,NaN,NaN,NaN,NaN,8.0,34.0,0.0,0.0,7.0,1.0
42797,42797,test,10,23933,active,ARFF,NaN,NaN,NaN,NaN,8.0,150000.0,0.0,0.0,7.0,1.0

In [124]:
final_df = pd.DataFrame()
doesnt_match = []

In [125]:
datasets_file = open("santos_datasets.txt", "r")
dataset_names = datasets_file.readlines()
dataset_names = list(map(lambda x: x[:-1], dataset_names))

In [126]:
for ds in dataset_names:
    aux = datalist[datalist.name == ds]
    if len(aux) == 0:
        doesnt_match.append(ds)
    else:
        final_df = final_df.append(aux)

In [127]:
datasets_file.close()

In [128]:
final_df

,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
59,59,ionosphere,1,1,active,ARFF,225.0,2.0,126.0,2.0,35.0,351.0,0.0,0.0,34.0,1.0
44,44,spambase,1,1,active,ARFF,2788.0,2.0,1813.0,2.0,58.0,4601.0,0.0,0.0,57.0,1.0
1495,1495,qualitative-bankruptcy,1,64,active,ARFF,143.0,3.0,107.0,2.0,7.0,250.0,0.0,0.0,0.0,7.0
1462,1462,banknote-authentication,1,64,active,ARFF,762.0,2.0,610.0,2.0,5.0,1372.0,0.0,0.0,4.0,1.0
61,61,iris,1,1,active,ARFF,50.0,3.0,50.0,3.0,5.0,150.0,0.0,0.0,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,1459,artificial-characters,1,64,active,ARFF,1416.0,10.0,600.0,10.0,8.0,10218.0,0.0,0.0,7.0,1.0
11,11,balance-scale,1,1,active,ARFF,288.0,3.0,49.0,3.0,5.0,625.0,0.0,0.0,4.0,1.0
997,997,balance-scale,2,2,active,ARFF,337.0,2.0,288.0,2.0,5.0,625.0,0.0,0.0,4.0,1.0
1510,1510,wdbc,1,64,active,ARFF,357.0,2.0,212.0,2.0,31.0,569.0,0.0,0.0,30.0,1.0
1488,1488,parkinsons,1,64,active,ARFF,147.0,2.0,48.0,2.0,23.0,195.0,0.0,0.0,22.0,1.0

In [122]:
doesnt_match

['robot-failure-lp1',
 'spect-heart',
 'connectionist-vowel',
 'fertility-diagnosis',
 'monks2',
 'statlog-image-segmentation',
 'yeast-4class',
 'teaching-assistant-evaluation',
 'monks1',
 'mammographic-mass',
 'robot-failure-lp4',
 'pima-indians-diabetes',
 'acute-inflammations-urinary',
 'flare',
 'thyroid-sick-euthyroid',
 'turkiye-student',
 'robot-failure-lp5',
 'micro-mass-pure-spectra demorou',
 'bupa',
 'wine-quality-white-5class',
 'thyroid-newthyroid',
 'micro-mass-mixed-spectra demorou',
 'steel-plates-faults',
 'leukemia-haslinger',
 'indian-liver-patient',
 'habermans-survival',
 'heart-disease-processed-hungarian',
 'statlog-vehicle-silhouettes',
 'monks3',
 'cardiotocography-3class',
 'statlog-heart',
 'statlog-german-credit-numeric',
 'connectionist-vowel-reduced',
 'abalone-3class',
 'cnae-9 demorou nos 75',
 'texture demorou nos 75',
 'vertebra-column-2c',
 'ozone-onehr',
 'systhetic-control',
 'hill-valley-without-noise',
 'movement-libras',
 'breast-tissue-4class',
 'statlog-australian-credit',
 'robot-nav-sensor-readings-2',
 'ozone-eighthr',
 'vertebra-column-3c',
 'autoUniv-au7-300-drift-au7-cpd1-800',
 'lsvt-voice-rehabilitation',
 'wholesale-channel',
 'statlog-landsat-satellite',
 'horse-colic-surgical',
 'qsar-biodegradation',
 'spectf-heart',
 'climate-simulation-craches',
 'waveform-v2',
 'movement-libras-10',
 'first-order-theorem',
 'molecular-promotor-gene',
 'molecular-splice-junction',
 'thyroid-hypothyroid',
 'cardiotocography-10class',
 'saheart',
 'heart-disease-processed-cleveland',
 'thyroid-sick',
 'connectionist-mines-vs-rocks',
 'multiple-features',
 'voting',
 'digits2-davi',
 'optdigit']

In [1]:
from scipy.io import arff
import pandas as pd

In [41]:
data = arff.loadarff('../datasets/luis/1043_ada_agnostic.arff')
data = pd.DataFrame(data[0])

data

,attr0,attr1,attr2,attr3,attr4,attr5,attr6,attr7,attr8,attr9,...,attr38,attr40,attr41,attr42,attr43,attr44,attr45,attr46,attr47,class
0,0.0,404.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,"b""'1'"""
1,0.0,404.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,"b""'1'"""
2,0.0,303.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,"b""'1'"""
3,0.0,454.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,"b""'1'"""
4,0.0,454.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,"b""'2'"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4557,0.0,303.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,"b""'1'"""
4558,0.0,404.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,"b""'1'"""
4559,1.0,404.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,"b""'1'"""
4560,0.0,605.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,"b""'1'"""
4561,0.0,404.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"b""'1'"""

In [53]:
X_raw = data[data.columns[-1]].to_numpy()
y_raw = data[data.columns[:-1]].to_numpy()
y_raw

array([[  0., 404.,   1., ...,   0.,   0.,   0.],
       [  0., 404.,   1., ...,   1.,   0.,   0.],
       [  0., 303.,   1., ...,   0.,   0.,   0.],
       ...,
       [  1., 404.,   1., ...,   0.,   0.,   0.],
       [  0., 605.,   1., ...,   0.,   0.,   1.],
       [  0., 404.,   1., ...,   0.,   0.,   0.]])

classifier = which_classifier('knn', 3)


for dataset_id in datalist:
    X_raw, y_raw, idx_data, dataset_name = which_oml_dataset(dataset_id)
    for idx_bag in range(n_splits):
        print(dataset_name, " knn", " ", idx_bag, " ", n_splits, " uncertain_sampling")
        total_performance_history.append(uncertain_sampling(deepcopy(X_raw), deepcopy(y_raw), idx_data, idx_bag, classifier, k, cost))